#main {
    background-color: #eee;
}

#title {
    text-align: center;
    color: #333;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
}

#sub-title {
    text-align:center;
    font-family: Calibri;
    color: #333;
    padding: 15px;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    filter: grayscale(100%);
}

#img-caption {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

#timeline-title {
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
    padding-top: 100px;
    font-size: 21px;
    font-weight: bold;
}

#tribute-info {
    font-family: Calibri;
    display: block;
    font-size: 17px;
    padding-top: 40px;
}

ul {
    max-width: 550px;
    text-align: left;
    margin: 0 auto 50px auto;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

#tribute-link {
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
}

